[submodule "baselines/niid_bench/leaf"]
	path = baselines/niid_bench/leaf
	url = https://github.com/TalwalkarLab/leaf
[submodule "baselines/niid_bench/NVFlare"]
	path = baselines/niid_bench/NVFlare
	url = https://github.com/NVIDIA/NVFlare.git
[submodule "baselines/treesXnets/treesXnets/leaf"]
	path = baselines/treesXnets/treesXnets/leaf
	url = https://github.com/TalwalkarLab/leaf.git
